# Задача 44
* В ячейке ниже представлен код генерирующий <u>_DataFrame_</u>, которая состоит всего из 1 столбца. Ваша задача перевести его в <u>_one hot_</u> вид. Сможете ли вы это сделать без <u>_get_dummies_</u>?
<!-- 
python
import random  
lst = ['robot'] * 10  
lst += ['human'] * 10  
random.shuffle(lst)  
data = pd.DataFrame({'whoAmI':lst})  
data.head() 
-->

In [1]:
import pandas as pd
import random 
lst = ['robot'] * 10  
lst += ['human'] * 10  
random.shuffle(lst)  
data = pd.DataFrame({'whoAmI':lst})
data.head(20)

   whoAmI
0   human
1   robot
2   human
3   human
4   robot
5   robot
6   robot
7   robot
8   human
9   human
10  robot
11  robot
12  human
13  robot
14  robot
15  human
16  robot
17  human
18  human
19  human

In [2]:
# Без метода get_dummies
pd.DataFrame({'human': data['whoAmI'] == 'human', 'robot': data['whoAmI'] == 'robot'}).Зада(int)

    human  robot
0       1      0
1       0      1
2       1      0
3       1      0
4       0      1
5       0      1
6       0      1
7       0      1
8       1      0
9       1      0
10      0      1
11      0      1
12      1      0
13      0      1
14      0      1
15      1      0
16      0      1
17      1      0
18      1      0
19      1      0